/node_modules
/*.png
/*.jpg
/photo backup
/Renders/OneDrive - WPP Cloud
/Renders/WPP Cloud
/Renders/Unit/*
/Renders/jest-stare/*
/others
/codes
/features/brimo
/loadtest/
/backups
/test/projects/scr/report